* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*facilita o calculo das larguras incluindo bordas e padding*/
}

body {
    font-family: 'inter', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.6;
    /* define a altura da linha*/
    overflow-x: hidden;
    /*evita o scroll horizontal desnecessario*/
}

header {
    /*navegação com flexbox*/
    padding: 1.5rem 3rem;
    /*um ponto de medida em (rem) equivale a 16px*/
    border-bottom: 1px solid #222;
    /*borda da parte inferior do elemento*/
}

nav {
    display: flex;
    justify-content: space-between;
    /*alinhamento horizontal*/
    align-items: center;
    /*alinhamento vertical*/
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu,
li,
a {
    color: #bbb;
    text-decoration: none;
    text-align: center;
    font-size: 0.95rem;
}

.menu,
li,
a:hover {
    color: #fff
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 3rem;
    max-width: 1200px;
    margin: o auto;

}

.hero-content {
    max-width: 550px;

}

.hero-content,
h1 {
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    line-height: 1.2;
}

.hero-content,
p {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 2rem;

}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.primary{
    background-color: white;
    color: black;

}
.primary:hover{
    background-color: #dcdcdc;
}
.secondary{
background-color: transparent;
border: 1px solid #555;
color: #ccc;
}
.secodary:hover{
    border-color: #888;
    color: #fff;
}
